.app {
  text-align: center;
  background-image: URL("AdobeStock_182151650_100DPI.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-width: 100vw;
  min-height: 110vh;
  margin: 0;
  padding: 0;
}
.main-view{
	min-height: 80vh;
	min-width: 100vw;
}
