.App {
  text-align: center;
}

.app-body {
		background-image: URL("AdobeStock_182151650_100DPI.jpg");
		background-size: contain 100vw 100vh;
		/* background-repeat: no-repeat; */
		background-color: white;
}
