.App {
  text-align: center;
}

.app-body {
		background-image: URL("AdobeStock_182151650_100DPI.jpg");
		background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
		background-color: white;
}
