nav {
	align-items: center;
	padding-top: 30px;
}
.button {
	height: 40px;
	width: 70px;
	background-color: lightblue;
	text-transform: uppercase;
	justify-content: space-around;
	font-family: 'Cutive Mono';
	margin: 12px;
	border: solid grey;

}
.button:hover {
	height: 40px;
	width: 70px;
	background-color: grey;
	animation: button-effect .5s linear;
}

@keyframes button-effect {
	0% {
		transform: translateY(0) rotateX(0) scale(1);
		transform-origin: 50% 0%;
	}
	50% {
		transform: translateY(-50%) rotateX(90deg) scale(2);
		transform-origin: 50% 50%;
		/* box-shadow: 5px 5px lightgrey; */
	}
	100% {
		transform: translateY(-100%) rotateX(180deg) scale(1);
		transform-origin: 50% 100%;
		/* box-shadow: 10px 10px lightgrey; */
	}
};
