nav {
	align-items: center;
	padding-top: 30px;
}
.button {
	height: 100px;
	width: 135px;
	background-color: #4d342e;
	text-transform: uppercase;
	justify-content: space-around;
	margin: 12px;
	border: #4d342e;
	color: white;
	font-size: 24pt;
	font-family: 'Staatliches';
}

.button:hover {
	height: 100px;
	width: 135px;
	background-color: #2a5b67;
	animation: button-effect 1s;
}

@keyframes button-effect {
	0% {
		transform: translateY(0) rotateX(0) scale(1);
		transform-origin: 50% 0%;
	}
	50% {
		transform: translateY(-50%) rotateX(90deg) scale(2);
		transform-origin: 50% 50%;
		/* box-shadow: 5px 5px lightgrey; */
	}
	100% {
		transform: translateY(-100%) rotateX(180deg) scale(1);
		transform-origin: 50% 100%;
		/* box-shadow: 10px 10px lightgrey; */
	}
};
