nav {
	align-items: center;
	padding-top: 30px;
}
.button {
	height: 100px;
	width: 135px;
	background-color: #4d342e;
	text-transform: uppercase;
	justify-content: space-around;
	margin: 12px;
	border: #4d342e;
	color: white;
	font-size: 24pt;
	font-family: 'Staatliches';
	border-radius: 20px;
}

.button:hover {
	height: 100px;
	width: 135px;
	background-color: #2a5b67;
}
